*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}
  
html, body {
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width:100%;
    height: auto;
}